<nb-card class="imagepr" id="Summary">
    <nb-card-body>
        <div class="row banner">
            <div class="container-image col-xs-12 col-md-12">
                <h1 class="text-center styleText">Report incident</h1>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<textarea nbInput fullWidth status="basic" placeholder="here you can register the incident you presented" class="text-area"></textarea>
<div class="d-flex justify-content-end">
    <button class="mt-3 button" nbButton (click)="close()">
        Send Report
    </button>
</div>
