.text-area {
    resize: vertical;
    min-height: 60px;
    max-height: 100px;
}

.imagepr {
    background-image: url('../../../assets/Banner-09.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    vertical-align: top;
    border: none;
  }

  .banner {
    max-height: 150px;
  }

  .button{
    background: linear-gradient(90deg,#18f297,#00e6e6);
    color:white !important;
  }

  .container-image img {
    width: 29%;
    vertical-align: top;
    text-align: center !important;
    // margin-bottom: -20px;
    // min-height: 10px;
  }

.styleText{
    font-size:1rem;
    line-height: 2rem;
    color:white;
}